<div class="d-flex flex-column-fluid">
  <div class="container-fluid col-lg-6">
    <div class="card mb-5 mb-xl-10">
      <div class="card-header border-0 pt-9">
        <div class="card-title m-0">
          <img src="./assets/media/img/avnon.png" class="w-50" />
        </div>
      </div>

      <div class="card-body p-9">
        <ng-container>
          <div class="mt-5" *ngFor="let item of questions; let i = index">
            <label class="form-label font-weight-bold">{{
              item.question
            }}</label>
            <div class="row p-2 pb-0 mb-0">
              <p *ngIf="item.type === type.Paragraph">
                {{ getParagraphAnswer(item) }}
              </p>
            </div>

            <ng-container *ngIf="item.type === type.CheckBox">
              <div class="row p-2 pb-0 mb-0">
                <label
                  class="form-label"
                  *ngFor="
                    let checkboxAnswer of getCheckboxAnswers(item);
                    let k = index
                  "
                >
                  {{ checkboxAnswer }}
                </label>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <div class="row">
          <div class="col-lg-6">
            <button
              class="btn btn-primary btn-sm me-3"
              (click)="back()"
              translate="Common.BackToFormBuilder"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
