<div class="d-flex flex-column-fluid">
  <div class="container-fluid col-lg-6 quesiton-card">
    <div class="card mb-5 mb-xl-10">
      <div class="card-header border-0 pt-9">
        <div class="card-title m-0">
          <img src="./assets/media/img/avnon.png" class="w-50" />
        </div>
      </div>

      <div class="card-body p-9">
        <span *ngIf="questions.length == 0"
          >No question found. Please click "Add New Question"</span
        >
        <form class="form" *ngIf="questions.length > 0" [formGroup]="form">
          <ng-container formArrayName="questions">
            <ng-container
              *ngFor="let questionForm of questions.controls; let i = index"
            >
              <div class="mt-5">
                <!-- Question -->
                <label
                  class="form-label font-weight-bold"
                  [ngClass]="
                    questionForm.get('required').value ? 'required' : ''
                  "
                  >{{ getValueInQuestionsForm(i, "question") }}</label
                >

                <!-- Answer -->
                <ng-container
                  *ngTemplateOutlet="
                    getValueInQuestionsForm(i, 'type') === type_enum.Paragraph
                      ? paragraphTemplate
                      : checkboxTemplate;
                    context: { questionForm: questionForm, i: i }
                  "
                >
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </form>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-lg-6">
            <a href="javascript:void(0);" (click)="addNewQuestionClicked()"
              >Add New Question</a
            >
          </div>
          <div class="col-lg-6 float-right">
            <button
              class="btn btn-primary btn-sm me-3"
              (click)="review()"
              translate="Common.ReviewMyAnswers"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paragraph template -->
<ng-template #paragraphTemplate let-i="i" let-questionForm="questionForm">
  <div [formGroup]="questionForm">
    <div class="row">
      <textarea class="form-control" formControlName="paragraphAnswer">
      </textarea>
    </div>
  </div>
</ng-template>

<!-- Checkbox template -->
<ng-template #checkboxTemplate let-i="i" let-questionForm="questionForm">
  <div [formGroup]="questionForm">
    <div class="row">
      <ng-container formArrayName="checkboxAnswers">
        <ng-container
          *ngFor="
            let checkboxAnswer of getCheckBoxAnswerFormArray(i).controls;
            let k = index
          "
        >
          <div [formGroupName]="k">
            <input
              type="checkbox"
              [id]="i + '-' + k"
              [name]="i + '-' + k"
              formControlName="checked"
            />
            <label
              *ngIf="!isShowOtherAnswer(i, k)"
              class="form-label checkbox-label"
              [for]="i + '-' + k"
              >{{ getValueInCheckboxAnswerForm(i, k, "text") }}</label
            >

            <!-- input for other answer -->
            <input
              type="text"
              formControlName="text"
              class="form-control other-answer"
              *ngIf="isShowOtherAnswer(i, k)"
            />
          </div>
        </ng-container>
        <div
          class="invalid-feedback"
          *ngIf="
            questionForm.controls['checkboxAnswers'].errors &&
            questionForm.controls['checkboxAnswers'].errors.required &&
            (questionForm.controls['checkboxAnswers'].dirty ||
              questionForm.controls['checkboxAnswers'].touched)
          "
        >
          At least one checkbox is required to check
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
