<div class="d-flex flex-column-fluid">
  <div class="container-fluid col-lg-6 quesiton-card">
    <div class="card mb-5 mb-xl-10">
      <div
        class="card-header border-0 pt-9"
        style="display: unset; justify-content: unset"
      >
        <div class="row">
          <label class="form-label col-3">Api key</label>
          <input
            class="form-control mb-5 col-9"
            type="password"
            [(ngModel)]="apiKey"
          />
        </div>
      </div>

      <div class="card-body p-9">
        <div class="app-tabs-card">
          <app-tabs>
            <app-tab-container [tabTitle]="'Table index'" #tableIndex="tab">
              <div class="card" *ngIf="tableIndex.active">
                <form class="form" [formGroup]="form">
                  <label class="form-label">Table name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="tableName"
                  />
                  <div class="mt-5">
                    <ng-container formArrayName="columns">
                      <ng-container
                        *ngFor="
                          let checkboxAnswer of columns.controls;
                          let i = index
                        "
                      >
                        <div [formGroupName]="i">
                          <label class="form-label">Column name</label>
                          <div class="row">
                            <div class="col-10">
                              <input
                                class="form-control mb-5"
                                formControlName="columnName"
                              />
                            </div>
                            <div class="col-2">
                              <button
                                class="btn btn-primary btn-sm me-3"
                                (click)="genSQL(i)"
                              >
                                <i
                                  class="fa fa-arrow-right"
                                  style="color: white"
                                ></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>

                  <a href="javascript:void(0);" (click)="addColumn()"
                    >+ Add column</a
                  >
                  <div class="mt-5">
                    <!-- <textarea
                      class="form-control answer-text"
                      formControlName="answer"
                    ></textarea> -->
                    <pre
                      style="font-size: 1.1em; max-width: 800px"
                      *ngIf="resultTableIndex$ | async as result"
                      >{{ result }}</pre
                    >
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-6">
                    <!-- <a href="javascript:void(0);" (click)="ask()">Ask</a> -->
                  </div>
                  <div class="col-lg-6 float-right">
                    <button
                      class="btn btn-primary btn-sm me-3"
                      (click)="ask()"
                      translate="Ask"
                    ></button>
                  </div>
                </div>
              </div>
            </app-tab-container>

            <app-tab-container
              [tabTitle]="'Integration test'"
              #integrationTest="tab"
            >
              <div class="card" *ngIf="integrationTest.active">
                <form class="form" [formGroup]="integrationTestForm">
                  <label class="form-label">Function name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="functionName"
                  />
                  <div class="mt-5">
                    <pre
                      style="font-size: 1.1em; max-width: 800px"
                      *ngIf="resultItegrationTest$ | async as result"
                      >{{ result }}</pre
                    >
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-6">
                    <!-- <a href="javascript:void(0);" (click)="ask()">Ask</a> -->
                  </div>
                  <div class="col-lg-6 float-right">
                    <button
                      class="btn btn-primary btn-sm me-3"
                      (click)="askIntegrationTest()"
                      translate="Ask"
                    ></button>
                  </div>
                </div>
              </div>
            </app-tab-container>
          </app-tabs>
        </div>
      </div>
      <!-- ----------------- -->
      <!-- ----------------- -->
      <!-- ----------------- -->
    </div>
  </div>
</div>
<ngx-spinner size="default" type="ball-scale-multiple"
  ><p style="color: white">Wait...</p></ngx-spinner
>
