<!-- Producers-->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/producer"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art010.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="Producers.Producers"></span>
  </a>
</div>

<!-- Product attribute -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/product-attribute"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span
      class="menu-title"
      translate="ProductAttribute.ProductAttribute"
    ></span>
  </a>
</div>

<!-- Product group -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/product-group"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art010.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="ProductGroups.ProductGroups"></span>
  </a>
</div>

<!-- Plobal code -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/setting/global-code/overview"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art010.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span
      class="menu-title"
      translate="Settings.GlobalCodes.GlobalCodes"
    ></span>
  </a>
</div>

<!-- Product unit -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/setting/product-unit"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art010.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span
      class="menu-title"
      translate="Settings.ProductUnits.ProductUnits"
    ></span>
  </a>
</div>

<!-- Currency -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/setting/currency"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art010.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="Settings.Currencies.Currencies"></span>
  </a>
</div>

<!-- Products -->
<div class="menu-item">
  <a
    class="menu-link without-sub"
    routerLink="/products"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/art/art010.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title" translate="Product.AsideMenu"></span>
  </a>
</div>
